<!--
    侧边栏
-->
<nav class="aside">
    <ul>
        <li>
            <a routerLink="/home/index">首页</a>         
        </li>
        <li>
            <a routerLink="/home/todos">todos</a>
        </li>
        <li>
            <span>金融机构</span>
            <ul>
                <li>法人机构</li>
                <li>展业机构</li>
            </ul>
        </li>
        <li>
            <span>系统管理</span>
            <ul>
                <li><a routerLink="/home/permission">权限管理</a></li>
                <li>
                    <a routerLink="/home/menu">菜单管理</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>