<!--
    权限
-->
<div class="container permission">
    <div class="search-form">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)" (ngReset)="onReset()">
            <span>
                <label>名称:</label>
                <input id="name" type="text" formControlName="name" />
            </span>
            <span>
                <label>类型:</label>
                <select id="type" formControlName="type">
                    <option value="perm_type_menu">菜单</option>
                    <option value="perm_type_interface">接口</option>
                </select>
            </span>
            <span>
                <button class="button" type="submit">查询</button>
                <button class="button" type="reset">重置</button>
            </span>
        </form>
    </div>


    <div class="edit-permission-dialog">
        <h3>编辑权限</h3>
        <form [formGroup]="editForm" (ngSubmit)="onEditSubmit(editForm)" (ngReset)="onEditReset()">
            <span>                
                <label>名称:</label>
                <input id="name" type="text" formControlName="name" />             
            </span>    
            
            <span>
                <label>路径：</label>
                <input id="url" type="text" formControlName="url" />
            </span>
            
            <span>
                <label>鉴权标识：</label>
                <input id="perms" type="text" formControlName="perms" />
            </span>

            <br />
            <span>
                <input type="checkbox" (change)="onPrepareMenuOption($event)" />菜单项
            </span>

            <br />           
            <span>
                <label>父菜单</label>
                <select 
                    id="rootMenu" 
                    name="rootMenu" 
                    formControlName="rootMenu">
                    <option value="0">根菜单</option>
                    <option *ngFor="let menu of rootMenus" [value]="menu.id">
                        {{menu.name}}
                    </option>
                </select>
            </span>

            <span>
                <label>排序</label>
                <input id="sort" type="text" placeholder="请输入排序值" formControlName="sort" /> 
            </span>
            
            <span>
                <label>icon</label>
                <input id="icon" type="text" placeholder="请输入icon名称" formControlName="icon" />
            </span>

            <span>
                <label>是否锁定</label>                
                <select id="isLock" placeholder="请选择是否锁定" formControlName="isLock">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </span>
        </form>
    </div>
    <!-- datagrid -->
    

</div>
