<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items" >
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
</div>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <!-- 原始label for只能作用到表单控件id属性上 -->
        <label for="name">Name:</label>
        <input id="name" type="text" type="text" formControlName="name" />
    </div>
    <div>
        <label for="address">Address:</label>
        <input id="address" type="text" formControllName="address" />
    </div>
    <button class="button" type="submit">Purchase</button>
</form>

<!-- 
    实践中ngSubmit是angular自定义事件名，而默认form onSubmit事件是同步提交的，
        一次ngSubmit不能同原生form onSubmit等同起来，
        现代h5表单的解决办法一般是FormData，原生使用return false阻止表单提交
-->
