.home{
    .main{
        overflow: hidden;         
        .content{           
            position: absolute; 
            left: 200px; 
            top: 60px; 
            right: 0; 
            bottom: 0; 
            overflow-y: scroll;
        }
    }
}