.header{
    height: 60px; 
    border-bottom: 1px solid #f5f5f5;
    ul.userinfo{
        margin-top: 24px;
        float: right;
        li{
            float: right;
            margin-right: 15px;
            .btn-login{
                background-color: #fff;
                border: 0;
                cursor: pointer;
                color: royalblue;
            }
        }
    }
}